In [10]:
import pandas as pd
import numpy as np

hecras = pd.read_csv('../data/ras_1920.csv')
hecras

,Time,S1 OBS,T1 RAS,T2 RAS S1,S25A_TW OBS,T2 RAS S25A,S25B_TW OBS,T2 RAS S25B,S26_TW OBS,RAS S26
0,2019-01-01 00:00:00,-0.32,-0.37,-0.54,-0.31,-0.54,-0.28,-0.53,-0.30,-0.54
1,2019-01-01 01:00:00,0.17,0.13,-0.05,0.14,-0.05,0.19,-0.05,0.19,-0.05
2,2019-01-01 02:00:00,0.80,0.67,0.62,0.76,0.61,0.83,0.63,0.80,0.63
3,2019-01-01 03:00:00,1.26,1.18,1.09,1.27,1.10,1.31,1.10,1.28,1.08
4,2019-01-01 04:00:00,1.68,1.53,1.51,1.67,1.53,1.70,1.51,1.69,1.52
...,...,...,...,...,...,...,...,...,...,...
17514,2020-12-30 18:00:00,1.14,1.16,1.13,1.18,1.14,1.17,1.13,1.25,1.14
17515,2020-12-30 19:00:00,1.62,1.49,1.67,1.65,1.67,1.70,1.69,1.67,1.67
17516,2020-12-30 20:00:00,1.93,1.94,1.94,1.95,1.93,2.00,1.95,2.00,1.91
17517,2020-12-30 21:00:00,2.19,2.12,2.08,2.21,2.07,2.25,2.10,2.25,2.13
17518,2020-12-30 22:00:00,2.11,2.01,1.89,2.12,1.88,2.22,1.91,2.19,1.93

In [11]:
ras = hecras[['T2 RAS S1','T2 RAS S25A', 'T2 RAS S25B', 'RAS S26']]
obs = hecras[['S1 OBS', 'S25A_TW OBS' , 'S25B_TW OBS', 'S26_TW OBS']]

In [12]:
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae

In [13]:
print('MAE = {}'.format(float("{:.4f}".format(mae(ras, obs)))))
print('RMSE = {}'.format(float("{:.4f}".format(np.sqrt(mse(ras, obs))))))

MAE = 0.1855
RMSE = 0.238